<h1>Welcome to Auto Buddy Wash <%= name %>!</h1>

<a href="/logout">Log Out</a>
<a href="/cars/new">Add a car</a>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>A.B.C.</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h2>My Vehicles</h2>
  <table>
      <thead>
          <th>Year</th>
          <th>Make</th>
          <th>Model</th>
          <th>Color</th>
          <th>Type</th>
      </thead>
      <tbody>
       
      </tbody>
</body>

</html>