<!DOCTYPE html>
<html>
<img src="images/carpic.png" alt="cartooncar">


<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %> A.uto B.uddy C.are</h1>
  <nav>
    <ul class="right">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/gallery">Gallery</a></li>
      <li><a href="/contact">Contact</a></li>
      <li style="float:right" class="login">
        <% if (user) { %>
        <a href="/logout">Log Out</a>
        <% } else { %>
        <a href="/auth/google">Login/Sign up</a>
        <% } %>
      </li>
    </ul>
  </nav>
</body>
<!-- <img src="images/carpic.png" alt="cartooncar"> -->

</html>